services:
  postgres-keycloak:
    image: postgres:18.1
    container_name: keycloak-postgres
    environment: 
      POSTGRES_DB: keycloak
      POSTGRES_USER: keycloak
      POSTGRES_PASSWORD: keycloak
    ports:
      - "5433:5432"
    volumes:
      - kc_db_data:/var/lib/postgresql
  
  postgres-texttolearn:
    image: postgres:18.1
    container_name: texttolearn-postgres
    environment:
      POSTGRES_DB: texttolearn
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
    ports:
      - "5434:5432"
    volumes:
      - texttolearn-pgdb-data:/var/lib/postgresql

  keycloak:
    image: quay.io/keycloak/keycloak:26.5.2-0
    container_name: keycloak
    command: start-dev
    environment:
      KC_DB: postgres
      KC_DB_URL_HOST: postgres-keycloak
      KC_DB_URL_DATABASE: keycloak
      KC_DB_USERNAME: keycloak
      KC_DB_PASSWORD: keycloak
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
    ports:
      - "8080:8080"
    depends_on:
      - postgres-keycloak
  
volumes:
    kc_db_data:
    texttolearn-pgdb-data: